// section.comment {
//   padding-top: 30px;
//   margin-bottom: 30px;
//   max-width: 1000px;
//   height: 180px;
//   overflow-x: hidden;
//   overflow-y: scroll;
  
  
//   h3 {
//     margin-bottom: 20px;
//   }
//   .panel {
//     position:relative;
//     .panel-heading, .panel-body {
//       text-align: left;
//     }
    
//     .panel-body {
//       color: #000000;
//     }
//   }
  
// } 
// .thumbnail {
//   padding:0px;
// }

// .add-cmt {
//   position: relative;
//   button {
//     position: absolute;
//     right: 0;
//   }
// }

// .position-relative {
//   position: relative;
// }
  
// .text-comment {
//   color: #000000;
//   text-align: left;
// }

//  textarea {
//   height: 58px !important;
// }