// .mybtn {
//   width: 75px;
//   background-color: $denim;
//   &> i {
//     color: $white;
//   }
// }

// .cool {
//   background-color: $denim;
//   height: 300px;
//   border-radius: 4px;
//   opacity: 0.5;
//   opacity: 0.5;
//   margin-top: 5px;
//   padding: 10px 0;
//   font-weight: bold;
//   font-size: 1.5em;
//   &> col-md-6 {
//     font-size: 30px;
//   }
// }

// .typeahead {
//   margin: 10px 0;
// }