// body {
//   font: 140% $font;
//   background-color: $bg-color;
// }

// .navbar-inverse {
//   background-color: $logo-color;
//   border-color: $logo-color;
//   .navbar-nav > li > a {
//     color: $navbar-link-color;
//     font-size: 138%;
//   }
// } 

// .navbar {
//   margin-bottom: 0;
// }

// section {
//   &.logo {
//     height: 80px;
//     background-color: $section-logo-color;
//   }
//   &.bg {
//     height: 500px;
//     padding: 50px 0;
//     position: relative;
//   }
// }

// .divider {
//   height: 50px;
// }

// .the-bg {
//   color: $hawkesblue;
// }

// .bg-1 {
//    background: url('../resources/resort.jpg') no-repeat center center fixed;
//   background-size: cover;
//   @extend .the-bg;
// }

// .bg-2 {
//    background: url('../resources/luxury_hotel1.jpg') no-repeat top center fixed;
//   background-size: cover;
//   @extend .the-bg;
// }

// .bg-3 {
//    background: url('../resources/luxury_hotel2.jpg') no-repeat bottom center fixed;
//   background-size: cover;
//   @extend .the-bg;
// }

// .bg-cmt {
//   background: url('../resources/hotel_cmt.jpg') no-repeat bottom center fixed;
//   background-size: cover;
//   @extend .the-bg; 
//   margin-top: 22px;
// }

// .bold {
//   font-weight: bold;
// }
// .font-arial {
//   font-family: $font-regular;
// }

// .margin-center {
//   margin: 0 auto;
// }

// .full-width {
//   width: 100%;
// }

// .border-radius {
//   border-radius: 4px;
// }

// .list {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
// }

// .border {
//   border: 1px solid $border-color;
//   padding: 10px 26px 0;
// }

// .border-color, 
// .border-color > thead > tr > th,
// .border-color > tbody > tr > td {
//   border-color: $border-color;
// }

// .padding-left {
//   padding-left: 15px;
// }

// .custom-jumbotron {
//   border: solid 1px $border-color;
//   margin-top: 30px;
//   padding-left: 10px;
// }

// .jumbo-toggle {
//   display: none;
// }

// .padding-none {
//   padding: none;
// }

// .hotel-info .border {
//   overflow: auto;
//   padding: 10px;
// }

// ul.list ul {
//   list-style-type: square;
// }

// .my-jumbotron {
//   position: relative;
//   h2 {
//     position: absolute;
//     bottom: 250px;
//     left: 0;
//     width: 60%;
//     span {
//       letter-spacing: -1px;  
//       line-height: 170%;
//       background: rgba(0, 0, 0, 0.7);
//       padding: 10px; 
//       color: $hawkesblue;
//       font-size: 140%;
//     }
//   }
  
//   img {
//     width: 100%;
//   }
// }
// .opacity-bg {
//   border: 1px solid #000000;
//   width: 60%;
//   background-color: green;
//   height: 200px;
  
//   position: absolute;
//   top: 20px;
// }
// .relative {
//   position: relative;
//   z-index: -1;
// }

// .small {
//   font-size: 77% !important;
//   line-height: 203% !important;
// }

// hr {
//   border-top: 1px solid #fafafa;
// }

// footer {
//   margin-top: 20px;  
// }

// @media only screen and (max-width: 740px) {
//   .my-jumbotron {
//     h2 {
//       bottom: 100px;
//     }
//   }
// }
// @media only screen and (max-width: 590px) {
//   .my-jumbotron {
//     h2 {
//       bottom: 100px;
//       span {
//         font-size: 115%;
//       }
//       .small {
//         font-size: 43% !important; 
//         line-height: 203% !important;
//       }
//     }
//   }
// }
// @media only screen and (max-width: 510px) {
//   .my-jumbotron {
//     display: none;
//   }
//   .jumbo-toggle {
//     display: block;
//   }
// }

