// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
// $font: Century Gothic, Helvetica, sans-serif;

// $white: #ffffff;
// $hawkesblue: #E3F2FD;
// $bg-color: #FAFAFA;
// $navbar-link-color: $hawkesblue;

// $blizzard-blue: #95EAEB;
//$section-logo-color: #e6e6e6;
// $section-logo-color: darken($white, 10%);
// $panel-img-height: 200px;
// $font-regular: "Arial", Helvetica, sans-serif;
// $denim: #1565C0;
// $curious-blue: #1e88e5;
// $border-color: $curious-blue;
// $logo-color: $denim;